[submodule "LLM_PROJECTS/AIExpense-ManagementSystem"]
	path = LLM_PROJECTS/AIExpense-ManagementSystem
	url = https://github.com/Anujpatel04/AIExpense-ManagementSystem
[submodule "LLM_PROJECTS/DailyNews_IncrementalModel"]
	path = LLM_PROJECTS/DailyNews_IncrementalModel
	url = https://github.com/Anujpatel04/DailyNews_IncrementalModel
[submodule "LLM_PROJECTS/Multi-agent-orchestrator-system-with-standardized-A2A-Protocol"]
	path = LLM_PROJECTS/Multi-agent-orchestrator-system-with-standardized-A2A-Protocol
	url = https://github.com/Anujpatel04/Multi-agent-orchestrator-system-with-standardized-A2A-Protocol
[submodule "LLM_PROJECTS/MemoryBase_Chatbot"]
	path = LLM_PROJECTS/MemoryBase_Chatbot
	url = https://github.com/Anujpatel04/MemoryBase_Chatbot
